.container{
    align-items: center;
}
.header_card{
    width: 100%;
    height: 60px;
    margin: 10px 0px;
}
.content_box{
    width: 100%;
    margin: 10px 0px;
}

input{
    width: 350px;
}

table {
    width: 100%;
    overflow-y: scroll;
}
