<div class="container">

  <mat-card class="header_card">
    <p style="line-height: 30px;">
      <span style="float: left;">Add School</span> <span class="float-right"><a routerLink="/dashboard">Home</a> > Add
        School </span>
    </p>
  </mat-card>

  <mat-card class="content_box">
    <form action="" [formGroup]="objectForm" (submit)="onSubmit()">
      <div class="row m-0">
        <div class="col-md-4 ml-0 mr-4" *ngIf="isSUadmin">
          <div class="row" style="display: flex;">
            <label class="m-0" for="cars">University *</label>
            <select size="1" formControlName="universityId" (ngModelChange)='selectUniversity($event)' required>
              <option value="" selected>Select university</option>
              <option *ngFor=' let university of universityList' [value]="university.id">{{university.universityName}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-5" formArrayName="schools">
          <div class="row d-flex" *ngFor="let School of SchoolList;index as i">
            <div class="col-md-11 p-0 m-0">
              <p class="p-0 m-0"> School * </p>
              <input type="text" placeholder="School name" [formControlName]="i" required>
            </div>
            <div class="col-md-1 mt-1 pt-3">
              <button mat-mini-fab color="default" [disabled]="!i" class="shadow-none text-dark"
                (click)='removeSchool(i)'>
                <mat-icon [ngClass]="{'text-light': !i}">remove_circle</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-2 ml-4 pr-2" style="margin-top: 20px;" *ngIf="editFlag">
          <button mat-mini-fab color="default" class="shadow-none text-success" (click)='addSchool()'>
            <mat-icon>add_circle</mat-icon>
          </button>
        </div>
      </div>


      <div class="row m-0 mt-2">
        <button mat-raised-button color="primary" class="mr-2" type="submit" *ngIf='editFlag'>Save</button>
        <button mat-raised-button color="primary" class="mr-2" type="submit" *ngIf='!editFlag'>Update</button>
        <button mat-stroked-button color="warn" class="mr-2" routerLink="/school">Cancel</button>
      </div>
    </form>
  </mat-card>

</div>