<div class="container">

  <mat-card class="header_card">
    <p style="line-height: 30px;">
      <span style="float: left;">Add School</span> <span class="float-right"><a>Home</a> > Add School </span>
    </p>
  </mat-card>

  <mat-card class="content_box">
    <form action="" [formGroup]="objectForm">
      <div class="row m-0">
        <div class="col-md-4" formArrayName="schools">
          <div class="row mt-2" *ngFor="let School of SchoolList;index as i">
            <p class="p-0 m-0"> School * </p>
            <input type="text" formControlName="{{i}}">
          </div>

        </div>
        <div class="col-md-2" style="margin-top: 25px;" *ngIf="editFlag">
          <button mat-mini-fab color="accent" (click)='addSchool()'>
            <mat-icon>plus_one</mat-icon>
          </button>
        </div>
      </div>


      <div class="row m-0 mt-3">
        <button mat-raised-button color="primary" class="mr-2" (click)="onSubmit()" *ngIf = 'editFlag'>Save</button>
        <button mat-raised-button color="primary" class="mr-2" (click)="onUpdate()" *ngIf = '!editFlag'>Update</button>
        <button mat-stroked-button color="warn" class="mr-2" >Reset</button>
      </div>
    </form>
  </mat-card>

</div>