::ng-deep {
    .back-payment {
        cursor: pointer;
    }
    .payment-status-grid {
        height: auto;
        overflow: auto;
        margin-bottom: 20px;
    }
    .student-status {
        .lable {
            .title {
                margin-top: 10px;
            }
            .value {
                font-size: 14px;
                font-weight: bold;
            }
        }
    }
}
