<div class="container">
    <div class="row">
        <mat-card class="header_card">
            <p style="line-height: 30px;">
                <span style="float: left;">View Fee Status</span> <span style="float: right;"><a
                    routerLink="/dashboard">Home</a> > View Fee Status
                </span>
            </p>
        </mat-card>
    </div>

    <div class="row">
        <mat-card class="content_box">
            <h5  class="float-left">Fee Status</h5>
            <button class="float-right" routerLink="/active-fee/add" mat-raised-button color="primary"> Active Fee</button>
            <input class="float-right search-filter" (keyup)="applyFilter($event.target.value)" placeholder="Search.. Ex: name">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">

                    <!-- Position Column -->
                    <ng-container matColumnDef="index">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell *matCellDef="let element;index as i"> {{i+1}} </td>
                    </ng-container>

                      <ng-container matColumnDef="schoolName">
                        <th mat-header-cell *matHeaderCellDef> School Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.schoolName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="departmentName">
                        <th mat-header-cell *matHeaderCellDef> Department Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.departmentName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="programName">
                        <th mat-header-cell *matHeaderCellDef> Program Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.programName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="divisionName">
                        <th mat-header-cell *matHeaderCellDef> Division Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.divisionName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="penaltyName">
                        <th mat-header-cell *matHeaderCellDef> Penalty Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.penaltyName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="activationDate">
                        <th mat-header-cell *matHeaderCellDef> Due Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.activationDate  | date:'medium'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="activateFee">
                        <th mat-header-cell *matHeaderCellDef class="text-center"> Status </th>
                        <td mat-cell *matCellDef="let element" class="text-center"> 
                            <mat-icon class="text-success text-center" *ngIf="element.activateFee" matTooltip="Activated">check_circle_outline</mat-icon>  
                            <mat-icon class="text-danger text-center" *ngIf="!element.activateFee" matTooltip="De-Activated">highlight_off</mat-icon>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [length]='10' [pageSizeOptions]="[10, 15, 25]" showFirstLastButtons>
                </mat-paginator>
            </div>
        </mat-card>
    </div>


</div>