<div class="container">
    <div class="row">
        <mat-card class="header_card">
            <p style="line-height: 30px;">
                <span style="float: left;">View Division</span> <span style="float: right;"><a
                    routerLink="/dashboard">Home</a> > View Division
                </span>
            </p>
        </mat-card>
    </div>

    <div class="row">
        <mat-card class="content_box">
            <h5  class="float-left">Divisions</h5>
            <button class="float-right" (click)="gotoAdd()" mat-raised-button color="primary"> + Add Divisions</button>
            <input class="float-right search-filter" (keyup)="applyFilter($event.target.value)"
                placeholder="Search.. Ex: name">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">

                    <!-- Position Column -->
                    <ng-container matColumnDef="index">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell *matCellDef="let element;index as i"> {{i+1}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="schoolName">
                        <th mat-header-cell *matHeaderCellDef> School Name </th>
                        <td mat-cell *matCellDef="let element">
                            <a class="link" (click)="goToDepartment(element)"> {{element.schoolName}} </a>
                        </td>
                    </ng-container>
                    <!--  -->

                    <ng-container matColumnDef="departmentName">
                        <th mat-header-cell *matHeaderCellDef> Department Name </th>
                        <td mat-cell *matCellDef="let element">
                            <a class="link" (click)="goToProgramName(element)"> {{element.departmentName}} </a>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="programName">
                        <th mat-header-cell *matHeaderCellDef> Programme Name </th>
                        <td mat-cell *matCellDef="let element">
                            <a class="link" (click)="goToSemester(element)"> {{element.programName}} </a>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="semesterName">
                        <th mat-header-cell *matHeaderCellDef> Semester Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.semesterName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="divisionName">
                        <th mat-header-cell *matHeaderCellDef> Division Name </th>
                        <td mat-cell *matCellDef="let element">
                            <a class="link" (click)="goToStudent(element)">{{element.divisionName}} </a>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="update">
                        <th mat-header-cell *matHeaderCellDef> Update </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-icon color="primary" (click)='updateDivision(element)'>edit</mat-icon>
                        </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef> delete </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-icon color="warn" (click)='deleteDivision(element.id)'>delete</mat-icon>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [length]='10' [pageSizeOptions]="[10,15,25]" showFirstLastButtons>
                </mat-paginator>
            </div>
        </mat-card>
    </div>


</div>