<body>
    <div class="container">
        <div class="img">
            <img src="../../../assets/bg.svg">
        </div>
        <div class="login-content">
            <div class="example-form">
                <b class="title">Login</b>
                <br />
                <br />
                <mat-form-field class="example-full-width">
                    <input type="text" matInput placeholder="Username" [(ngModel)]='userName'>
                </mat-form-field>
                <br />
                <br />
                <mat-form-field class="example-full-width">
                    <input type="password" matInput placeholder="Password" [(ngModel)]='password'>
                </mat-form-field>
                <br />
                <br />
                <div class="link">
                    <a routerLink="/forgot-password">Forgot Password?</a>
                </div>
                <div class="right">
                    <button class="btn" mat-raised-button color="primary" (click)='login()'>Submit</button>
                </div>
            </div>
        </div>
    </div>
</body>