<div class="container">

    <mat-card class="header_card">
        <p style="line-height: 30px;">
            <span style="float: left;">Change Password</span> <span style="float: right;"><a
                    routerLink="/dashboard">Home</a>
                > Change Password </span>
        </p>
    </mat-card>


    <mat-card class="content_box ">

        <div class="w-100 m-auto">
        <div class="row m-0 mt-3">
            <div class="col-md-3">
                <div class="row" style="display: flex;">
                    <p class="m-0 mb-1">Old Password </p>
                    <input type="password" placeholder="Old password" required [(ngModel)]='oldPassword'>
                </div>
            </div>
        </div>
        <div class="row m-0 mt-3">
            <div class="col-md-3 mr-2 ml-1">
                <div class="row">
                    <p class="m-0 mb-1">New Password </p>
                    <input type="password" placeholder="New password" required [(ngModel)]='newPassword'>
                </div>
            </div>
        </div>
        <div class="row m-0 mt-3">
            <div class="col-md-3 mr-2 ml-1">
                <div class="row">
                    <p class="m-0 mb-1">Confirm new password</p>
                    <input type="password" placeholder="Confirm new password" required [(ngModel)]='newPassword2'>
                </div>
            </div>
        </div>
        </div>
        <div class="row m-0 mt-3 px-1">
            <button mat-raised-button color="primary" class="mr-3" type="submit" (click)='onSubmit()'>Submit</button>
            <button mat-stroked-button color="warn" class="mr-3" routerLink="/dashboard">Cancel</button>
        </div>
    </mat-card>
</div>