<form [formGroup]="objectForm" class="form-active-fee" (submit)="onSubmit()">
    <div mat-dialog-content>
        <h5>Active Fee</h5>
        <div class="row m-0 mt-3 py-4">
            <div class="col-md-4 mr-2 ml-1">
                <div class="row" style="display: flex;">
                    <label class="m-0" for="cars">Penalty</label>
                    <select size="1" formControlName="penaltyId" required>
                        <option value="" selected>Select Penalty</option>
                        <option *ngFor='let pen of penalty' [value]="pen.id">{{pen.penaltyName}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4 p-0 ml-3">
                <label class="m-0" for="cars">Due Date</label>
                <mat-form-field appearance="fill" class="w-100">
                    <input matInput [min]="minDate" formControlName="activationDate" [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-4 p-0 ml-3">
                <div class="m-0 mb-2" for="cars">Active Fee</div>
                <mat-slide-toggle formControlName="activateFee"></mat-slide-toggle>
            </div>
        </div>
    </div>
    <hr/>
    <div mat-dialog-actions>
        <button type="submit" mat-raised-button color="primary" cdkFocusInitial>Active
            Now</button>
        <button mat-stroked-button color="warn" [mat-dialog-close]="false">Cancel</button>
    </div>
</form>