mat-toolbar{
    display: flex;
    justify-content: space-between;
    background-color: #4680FF;
    color: white;
}

.mat-menu-item.mat-ripple.active {
    background-color: #4680ff;
    color: #ffffff;
    .mat-icon {
        color: inherit;
    }
}

mat-menu{
    padding: 0;
}

span{
    display: flex;
}
