<mat-toolbar>
    <span>
        <button mat-icon-button>
          <mat-icon (click)="toggleSideBar()">menu</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon style="color: aliceblue;" (click)="goToHome()">home</mat-icon>
        </button>
    </span>
    
    <span>
        <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>person_outline</mat-icon></button>
        <mat-menu #menu="matMenu">
           <button mat-menu-item (click)="logOut()">Logout</button>
        </mat-menu>
    </span>
</mat-toolbar>
