<div class="container">
    <div class="row">
        <mat-card class="header_card">
            <p style="line-height: 30px;">
                <span style="float: left;">View Fee Type</span> <span style="float: right;"><a
                    routerLink="/dashboard">Home</a> > View Fee Type
                </span>
            </p>
        </mat-card>
    </div>

    <div class="row">
        <mat-card class="content_box">
            <h5  class="float-left">Fee Type</h5>
            <button class="float-right" routerLink="/feeType/add" mat-raised-button color="primary"> + Add Fee Type</button>
            <input class="float-right search-filter" (keyup)="applyFilter($event.target.value)" placeholder="Search.. Ex: name">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">

                    <!-- Position Column -->
                    <ng-container matColumnDef="index">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell *matCellDef="let element;index as i"> {{i+1}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Fee Type </th>
                        <td mat-cell *matCellDef="let element"> {{element.typeName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="update">
                        <th mat-header-cell *matHeaderCellDef> Update </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-icon color="primary" (click)='updateFeeType(element)'>edit</mat-icon>  
                        </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef> delete </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-icon color="warn" (click)='deleteSchool(element.id)'>delete</mat-icon>  
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [length]='10' [pageSizeOptions]="[10, 15, 25]" showFirstLastButtons>
                </mat-paginator>
            </div>
        </mat-card>
    </div>


</div>
