<body>
    <div class="container">
		<div class="img">
			<img src="../../../assets/bg.svg">
		</div>
		<div class="login-content">
            <div *ngIf="mailSend">
                <b class="title">Reset Password has been sent to your email successfully</b>
                <br/>
                <br/>
                <div  class="link">
                    <a routerLink="/login">Login</a>
                </div>
            </div>
            <div *ngIf="!mailSend">
                <div class="example-form">
                    <b class="title">Forgot Password</b>
                    <br/>
                    <br/>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Enter Email ID" [(ngModel)]='email'>
                    </mat-form-field>
                    <br/>
                    <div class="right">
                        <button class="btn" mat-raised-button color="primary" (click)='onSubmit()'>Submit</button>
                    </div>
                    <div  class="link">
                        <a routerLink="/login">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
