mat-card{
    margin: 15px 0;
    padding: 20px;
    border: 0 solid #e7e7e7;
    border-radius: 5px;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.15);
    width: 100%;
    overflow: hidden;
    height: 100px;
    color: white;
}
.card1{
    background-color: #4680ff !important;
}
.card2{
    background-color: #e6a1f2 !important;
}
.card3{
    background-color: #26dad2 !important;
}
.card4{
    background-color: #fc6180 !important;
}
p{
    margin-bottom:  0;
}