<div class="container">
    <div class="row">
        <mat-card style="height: 60px; color: rgb(12, 26, 39);">
            Dashboard
        </mat-card>
    </div>
    <div class="row mt-4">
        <div class="col-md-3">
            <mat-card class="card1">
                <div class="row">
                    <div class="col-md-4">
                        <mat-icon style="font-size: 50px;" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                    </div>
                    <div class="col-md-8">
                        <div class="row"><p style="line-height: 40px; font-size: 40px; float: right;">300</p></div>
                        <div class="row"><p style="line-height: 14px;">Total Revenue Today</p> </div>
                        
                        
                    </div>
                </div>
                
                
            </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card class="card2">Simple card</mat-card>
        </div>
        <div class="col-md-3">
            <mat-card class="card3">Simple card</mat-card>
        </div>
        <div class="col-md-3">
            <mat-card class="card4">Simple card</mat-card>
        </div>
    </div>
</div>