<div class="side-menu">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Admin Panel</mat-card-title>
      <mat-card-subtitle>Welcome {{userDetails['userName']}}</mat-card-subtitle>
    </mat-card-header>

    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node *matTreeNodeDef="let node" matRipple [routerLinkActiveOptions]="node.options || {}"
        matTreeNodePadding matTreeNodePaddingIndent="20" routerLinkActive="active" [routerLink]="node.link">
        <!-- use a disabled button to provide padding for tree leaf -->
        <button mat-icon-button>
          <mat-icon class="mat-icon-rtl-mirror">
            {{node.icon}}
          </mat-icon>
        </button>
        {{node.name}}
      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matRipple matTreeNodePadding
        matTreeNodePaddingIndent="20" matTreeNodeToggle>
        <button mat-icon-button [attr.aria-label]="'toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        {{node.name}}
      </mat-tree-node>
    </mat-tree>

    <!-- <mat-list role="list">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              School
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-divider></mat-divider>
          <a mat-list-item matRipple routerLinkActive="list-item-active" routerLink="/school/add">Add School</a>
          <mat-divider></mat-divider>
          <a mat-list-item matRipple routerLinkActive="list-item-active" routerLink="/school/view">View School</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Department
            </mat-panel-title>
          </mat-expansion-panel-header>

          <a mat-list-item matRipple routerLinkActive="list-item-active" routerLink="/department/add">Add Department</a>

          <a mat-list-item matRipple routerLinkActive="list-item-active" routerLink="/department/view">View
            Department</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Programme
            </mat-panel-title>
          </mat-expansion-panel-header>

          <a mat-list-item matRipple routerLinkActive="list-item-active" routerLink="/programm/add">Add Programme</a>

          <a mat-list-item matRipple routerLinkActive="list-item-active" routerLink="/programm/view">View Programme</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Semester
            </mat-panel-title>
          </mat-expansion-panel-header>

          <a mat-list-item matRipple routerLinkActive="list-item-active" routerLink="/semester/add">Add Semester</a>

          <a mat-list-item matRipple routerLinkActive="list-item-active" routerLink="/semester/view">View Semester</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Division
            </mat-panel-title>
          </mat-expansion-panel-header>

          <a mat-list-item matRipple routerLinkActive="list-item-active" routerLink="/division/add">Add Division</a>

          <a mat-list-item matRipple routerLinkActive="list-item-active" routerLink="/division/view">View Division</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Fee Type
            </mat-panel-title>
          </mat-expansion-panel-header>

          <a mat-list-item matRipple routerLinkActive="list-item-active" routerLink="/feeType/add">Add Fee Type</a>

          <a mat-list-item matRipple routerLinkActive="list-item-active" routerLink="/feeType/view">Fee Type</a>
        </mat-expansion-panel>


        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Fee
            </mat-panel-title>
          </mat-expansion-panel-header>

          <a mat-list-item matRipple routerLinkActive="list-item-active" routerLink="/fee/add">Add Fee</a>

          <a mat-list-item matRipple routerLinkActive="list-item-active" routerLink="/fee/view">View Fee</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Organize
            </mat-panel-title>
          </mat-expansion-panel-header>

          <a mat-list-item matRipple routerLinkActive="list-item-active" routerLink="/organize/ActivateFee">Activate Fee</a>

          <a mat-list-item matRipple routerLinkActive="list-item-active" routerLink="/organize/addScholarship">Add Scholarsip</a>

          <a mat-list-item matRipple routerLinkActive="list-item-active" routerLink="/organize/approveSholarship">Approve
            Scholarsip</a>

          <a mat-list-item matRipple routerLinkActive="list-item-active" routerLink="/organize/Penalty">Penalty</a>

          <a mat-list-item matRipple routerLinkActive="list-item-active" routerLink="/organize/OfflineFee">Offline Fee</a>
        </mat-expansion-panel> 
      </mat-accordion>

    </mat-list> -->

  </mat-card>
</div>