<div class="side-menu">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Admin Panel</mat-card-title>
      <mat-card-subtitle>Welcome {{userDetails['name']}}</mat-card-subtitle>
    </mat-card-header>

    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node *matTreeNodeDef="let node" matRipple [routerLinkActiveOptions]="node.options || {}"
        matTreeNodePadding matTreeNodePaddingIndent="20" routerLinkActive="active" [routerLink]="node.link">
        <!-- use a disabled button to provide padding for tree leaf -->
        <button mat-icon-button>
          <mat-icon class="mat-icon-rtl-mirror">
            {{node.icon}}
          </mat-icon>
        </button>
        {{node.name}}
      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matRipple matTreeNodePadding
        matTreeNodePaddingIndent="20" matTreeNodeToggle>
        <button mat-icon-button [attr.aria-label]="'toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        {{node.name}}
      </mat-tree-node>
    </mat-tree>
  </mat-card>
</div>