<div class="container">

    <mat-card class="header_card">
        <p style="line-height: 30px;">
            <span style="float: left;">Add Admin</span> <span class="float-right"><a routerLink="/dashboard">Home</a> >
                Add Admin </span>
        </p>
    </mat-card>

    <mat-card class="content_box">
        <form action="" [formGroup]="penaltyForm">
            <div formArrayName="admin">
                <div class="row m-0" *ngFor="let data of adminList; let i = index;" [formGroupName]="i">
                    <div class="col-md-12 p-0">
                        <div class="row m-0">
                            <div class="col-md-3" *ngIf="!isSUAdmin">
                                <div class="row mt-2">
                                    <p class="p-0 m-0"> University * </p>
                                    <select formControlName="universityId" required>
                                        <option value="" selected>Select university</option>
                                        <option *ngFor=' let university of universityList' [value]="university.id">{{university.universityName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row mt-2" [ngClass]="{'ml-1':!isSUAdmin}">
                                    <p class="p-0 m-0"> Username * </p>
                                    <input type="text" placeholder="Username name" required formControlName="name">
                                </div>
                            </div>
                            <div class="col-md-3" *ngIf="!editFlag">
                                <div class="row mt-2 ml-1">
                                    <p class="p-0 m-0 "> Password * </p>
                                    <input type="password" placeholder="Password" formControlName="password">
                                </div>
                            </div>
                            <div class="col-md-3" *ngIf="isSUAdmin">
                                <div class="row mt-2 ml-1">
                                    <p class="p-0 m-0 "> Email Id * </p>
                                    <input type="email" placeholder="Email Id" required formControlName="emailId">
                                </div>
                            </div>
                            <div class="col-md-1" style="margin-top: 25px;" *ngIf="!editFlag">
                                <button mat-mini-fab color="default"  [disabled]="!i" class="shadow-none text-dark" (click)='onRemove(i)'>
                                    <mat-icon [ngClass]="{'text-light': !i}">remove_circle</mat-icon>
                                </button>
                            </div>
                            <div class="col-md-1" style="margin-top: 25px;" *ngIf="!i && !editFlag">
                                <button mat-mini-fab color="default" class="shadow-none text-success" (click)='onAdd()'>
                                    <mat-icon>add_circle</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3" *ngIf="!isSUAdmin">
                                <div class="row mt-2 ml-1">
                                    <p class="p-0 m-0 "> Email Id * </p>
                                    <input type="email" placeholder="Email Id" required formControlName="emailId">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row mt-2 ml-1">
                                    <p class="p-0 m-0 "> Phone No * </p>
                                    <input type="number" placeholder="phone Number" formControlName="phoneNo">
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>
            </div>

            <div class="row m-0 mt-3">
                <button mat-raised-button color="primary" class="mr-2" (click)="onSubmit()"
                    *ngIf='!editFlag'>Save</button>
                <button mat-raised-button color="primary" class="mr-2" (click)="onUpdate()"
                    *ngIf='editFlag'>Update</button>
                <button mat-stroked-button color="warn" class="mr-2" routerLink="/admin">Cancel</button>
            </div>
        </form>
    </mat-card>

</div>