.container{
    align-items: center;
}
.header_card{
    width: 100%;
    height: 60px;
    margin: 10px 0px;
    
}
.content_box{
    width: 100%;
    min-height: 300px;
    margin: 10px 0px;
    
}

input{
    width: 100%;
}
.mat-button-focus-overlay { 
    background-color: transparent!important; 
}

.mat-icon-button .mat-button-base .cdk-focussed .cdk-mouse-focussed{
    border-color: transparent !important;
}

.mat-icon-button :focus{
    border-color: transparent !important;
    border: none;
}
